.keyword {
    -fx-fill: #2A9DF4; /* SQL keywords in red */
    -fx-font-weight: bold;
}

.string {
    -fx-fill: red; /* Green */
}

.quoted {
    -fx-fill: #008000; /* Blue */
}

.lineno {
    -fx-background-color: transparent; /* Remove gray box */
    -fx-text-fill: #000000; /* Change number color (optional) */
}

.list-view:focused, .vbox:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view:focused, .vbox:focused, .button:focused, .text-field:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

